<!DOCTYPE html>
<html lang="en">
{{>html_header}}
<body>
<article>
  {{>site_header}}
  <main>
    <h1>About me</h1>
    <p>My name is {{full_name}}.
      I am a senior software developer working at <a target="_blank" href="https://mcgill.ca">McGill University</a> in Montreal, Quebec, Canada.
      Passionate about building software systems, I enjoy my work at designing, building and maintaining several applications.
      Most of what I develop is related to backend systems using several technologies such as PL/SQL, Grails, Java and NodeJS.
      The "front-facing" software I have developed so far is mostly used by administrative staff and Graduate students to a certain extent.
    </p>
    <p>Outside of work, I enjoy</p>
    <ul>
      <li>Studying Japanese (currently on my own)</li>
      <li>Running</li>
      <li>Following European football/soccer.
        I follow La Liga, English Premier League and of course The UEFA Champions League.
      </li>
      <li>Winter activities: This is the only way to have fun outdoors in this cold city...</li>
    </ul>
    <h2>Resume</h2>
    <!-- <p>Download a pdf version <a href="/files/{{full_name}} resume.pdf">here</a>.</p> -->
    Coming soon!
  </main>
  {{>site_footer}}
</article>
</body>
</html>
