<!DOCTYPE html>
<html lang="en">
{{>html_header}}
<body>
<article>
  {{>site_header}}
  <main>
    <h1>Apps</h1>
    <p>I will post some of the apps I've built in this section.</p>
  </main>
  {{>site_footer}}
</article>
</body>
</html>
