<!DOCTYPE html>
<html lang="en">
{{>html_header}}
<body>
<div class="content-area">
  {{>site_header}}
  <main>
    <h1>Welcome to {{site_name}}</h1>
    <p>The goal is to use this site and domain for experiments and small coding projects for myself.
      I will add a very simple blogging platform sometime this summer hopefully!</p>
    <p>
      Feel free to browse around. The static site is finally done. (It's always a work in progress in real life). <br />
      I went from a NodeJs (Express) backend to a Rust backend (Actix-web).</p>
      <p>These are the next steps:</p>
    <ul>
      <li>Small WebRTC chat application to learn about WebRTC.</li>
      <li>Adding a small database</li>
      <li>Building a very simple blogging engine</li>
    </ul>
  </main>
  {{>site_footer}}
</div>
</body>
</html>
