<!DOCTYPE html>
<html lang="en">
{{>html_header}}
<body>
<article>
  {{>site_header}}
  <main>
    <h1>Welcome to {{site_name}}</h1>
    <p>I am finally working on this site.</p>
  </main>
  {{>site_footer}}
</article>
</body>
</html>
