body {
    background-color: white;
    font-family: 'fira_monoregular', monospace;
    font-size: 12px;
    margin: 0;
}

main {
    margin: 8px;
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover
{
    color:#00A0C6;
    text-decoration:none;
    cursor:pointer;
}

html, body {
    width: 100%;
    height: 100%;
}

.content-area {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

#nav-toggle, .burger-menu {
    display: none;
}

.burger-menu {
    grid-column: 3;
    align-self: center;
    margin-right: 15px;
}

.nav-container {
    width: 100%;
    background-color: ghostwhite;
}

nav {
    margin: 0 auto;
    font-family: "connectionregular", monospace;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

nav a {
    color: inherit;
    text-decoration: none;
    /*text-transform: uppercase;*/
    transition: .3s all ease-in-out;
}

nav a:hover {
    opacity: .7;
}

.right-menu a {
    padding: 10px 0;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.logo {
    grid-column: 2;
    color: black;
    font-family: "connectionbold", monospace;
    font-size: 20px;
    padding: 1rem;
}

.logo > img {
    height: 100%;
}

.right-menu {
    grid-column: 3;
    align-self: center;
    text-align: right;
}

@media only screen and (max-width: 1025px) {

    .burger-menu {
        display: inline-block;
        text-align: right;
    }

    .right-menu {
        display: none;
        grid-column: 1;
        text-align: left;
    }

    .right-menu a {
        margin-right: 0px;
        margin-left: 15px;
    }

    #nav-toggle:checked ~ .right-menu {
        display: grid;
        grid-row: 2;
    }
}

footer {
    background-color: ghostwhite;
    font-family: "connectionregular", monospace;
    font-size: small;
}

footer .content {
    padding: 10px;
    text-align: right;
}

span.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

