<!DOCTYPE html>
<html lang="en">
{{>html_header}}
<body>
<div class="content-area">
  {{>site_header}}
  <main>
    <h1>About me</h1>
    <p>I am a senior software developer working at a public research university in Canada.
      Passionate about building software systems, I enjoy my work at designing, building and maintaining several applications.
      At work, I focus on application development using NodeJS, React, Oracle, Spring Boot and Grails. TypeScript has been really helpful avoiding many bugs in our NodeJS and React code.
      The front-facing applications I have developed so far are mainly used by administrative staff and Graduate students.
      But what I really enjoy is writing backend software. Writing scalable code requires being mindful of resources and aware of the architecture.
      In my free time, I like working with lower level languages and tools.
      After plenty of frustrations with large frameworks, I prefer smaller libraries and frameworks that give me more control on how I want to run an application.
      This site is running on a backend built with Rust ⚙️.
    </p>
    <p>Outside of development, I enjoy</p>
    <ul>
      <li>Studying Japanese (currently on my own)</li>
      <li>Running. The goal is to be able to run a marathon.</li>
      <li>Following European football/soccer.
        I follow La Liga, English Premier League and of course The UEFA Champions League.
      </li>
      <li>Winter activities: we have a long winter after all.</li>
    </ul>
    {{>site_footer}}
</div>
</body>
</html>
