<!DOCTYPE html>
<html lang="en">
{{>html_header}}
<body>
<div class="content-area">
  {{>site_header}}
  <main>
    <h1>About me</h1>
    <p>My name is {{full_name}}.
      I am a senior software developer working at
      <a target="_blank" href="https://mcgill.ca">McGill University</a> in Montreal, Canada.
      Passionate about building software systems, I enjoy my work at designing, building and maintaining several applications.
      At work, most of what I develop is related to backend systems using several technologies such as PL/SQL, Grails, Spring Boot and Node.
      The "front-facing" applications I have developed so far are mainly used by administrative staff and Graduate students. They are built in React.
      In my free time, I like working with lower level languages and tools.
      After plenty of frustrations with large frameworks, I prefer smaller libraries and frameworks that give me more control on how I want to run an application.
      This site is running on a backend built with Rust ⚙️.
    </p>
    <p>Outside of development, I enjoy</p>
    <ul>
      <li>Studying Japanese (currently on my own)</li>
      <li>Running. The goal is to run my first marathon in 2020.</li>
      <li>Following European football/soccer.
        I follow La Liga, English Premier League and of course The UEFA Champions League.
      </li>
      <li>Winter activities: This is the only way to have fun outdoors in this cold city...</li>
    </ul>
    <h2>Resume</h2>
    <!-- <p>Download a pdf version <a href="/files/{{full_name}} resume.pdf">here</a>.</p> -->
    Coming soon! You can check my <a href="https://www.linkedin.com/in/amit-h-dayaram-ab958954/" target="_blank">LinkedIn</a> profile in the meanwhile.
  </main>
  {{>site_footer}}
</div>
</body>
</html>
