<!DOCTYPE html>
<html lang="en">
{{>html_header}}
<body>
<div class="content-area">
  {{>site_header}}
  <main>
    <h1>About me</h1>
    <p>I am currently working as a full stack software 'engineer' in Hong Kong. I moved here in 2022 to study at HKU's MSc in Computer Science program (completed in December 2023). Our tech stack is mainly Java with some integration to native C++ code for high performance computing.
    </p>
    <p>Previously, I was a senior software developer working at a public research university in Canada.
      Passionate about building software systems, I enjoy my work at designing, building and maintaining several applications.
      At work, I focused on application development using NodeJS, React, Oracle, Spring Boot and Grails. TypeScript has been really helpful avoiding many bugs in our NodeJS and React code.
      The front-facing applications I have developed are mainly used by administrative staff and Graduate students. One of them is <a href="https://mythesis.mcgill.ca">myThesis</a>.
      In my free time, I like working with lower level languages and tools.
      After plenty of frustrations with large frameworks, I prefer smaller libraries that give me more control on how I want to run an application.
      This site is running on a backend built with Rust ⚙️.
    </p>
    <p>Outside of development, I enjoy</p>
    <ul>
      <li>Studying Chinese Putonghua. I am a beginner.</li>
      <li>Studying Japanese.</li>
      <li>Running. I have run several half marathons. Eventually I would like to try a full marathon.</li>
      <li>Following European football and International competitions.
        I follow La Liga, English Premier League and of course The UEFA Champions League. I am happy Argentina won the 2022 Fifa World Cup 🇦🇷.
      </li>
    </ul>
    <h1>CV</h1>
    <p>Download <a href="/public/docs/CV.pdf">here</a>.</p>
  </main>
  {{>site_footer}}
</div>
</body>
</html>
