<!DOCTYPE html>
<html lang="en">
{{>html_header}}
<body>
<div class="content-area">
  {{>site_header}}
  <main>
    <h1>Apps</h1>
    <p>This page contains links to some of the apps and work I've done.</p>
    <ul>
      <li>
        <a target="_blank" href="https://xmithd.github.io/nihongo2b/">日本語を勉強しましょう！</a><br />
        <p>This was a project for a Japanese class. We decided to host our work online and make it accessible from anywhere where there is internet!</p>
      </li>
      <li>
        <a target="_blank" href="https://xmithd.github.io/godoc_p">GoDoc</a><br />
        <p>GoDoc is an idea of a doctor's appointment booking application.
          It was done for an MBA student's project presentation. </p>
      </li>
    </ul>
    <p>
      You can view code and some other projects on <a target="_blank" href="https://github.com/{{github_handle}}">my github page</a>.
    </p>
  </main>
  {{>site_footer}}
</div>
</body>
</html>
