<!DOCTYPE html>
<html lang="en">
{{>html_header}}
<body>
<div class="content-area">
  {{>site_header}}
  <main>
    <h1>Blog</h1>
    <ul>
    {{#each posts}}
      <p><i class="xm_timestamp">zu-{{this.created}}</i>&nbsp;<a href="/blog/post/{{this.id}}">{{this.title}}</a></p>
    {{else}}
      <p>There are no posts yet.</p>
    {{/each}}
    </ul>
  </main>
  {{>site_footer}}
</div>
<script src="/scripts/xmithd.js"></script>
</body>
</html>
