<!DOCTYPE html>
<html lang="en">
{{>html_header}}
<body>
<div class="content-area">
  {{>site_header}}
  <main>
    <h1>Contact Me</h1>
    <h2>Twitter</h2>
    <p>
      You can find me on twitter <a target="_blank" href="https://twitter.com/{{twitter_handle}}">@{{twitter_handle}}</a>.
      (Note: this is a personal account, my opinions only).
    </p>
  </main>
  {{>site_footer}}
</div>
</body>
</html>
