<!DOCTYPE html>
<html lang="en">
{{>html_header}}
<body>
<div class="content-area">
  {{>site_header}}
  <main>
    <h1>Welcome to {{site_name}}</h1>
    <p>The goal is to use this site and domain for experiments and small coding projects for myself.
    I have added a small <a href="/notes">notes page</a> to display posts/notes.</p>
    <p>
      Feel free to browse around.<br />
      </p>
      <p>These are the next steps:</p>
    <ul>
      <li>✅ Adding a small database</li>
      <li>
        Building a very simple notes engine
        <ol>
          <li>✅ Viewing posts</li>
          <li>Creating posts</li>
        </ol>
      </li>
    </ul>
  </main>
  {{>site_footer}}
</div>
</body>
</html>
