<!DOCTYPE html>
<html lang="en">
{{>html_header}}
<body>
<div class="content-area">
  {{>site_header}}
  <main>
    <h1>Welcome to {{site_name}}</h1>
    <p>The goal is to use this site and domain for experiments and small coding projects for myself.
    I have added a small <a href="/blog">blog</a> to display posts.</p>
    <p>
      Feel free to browse around.<br />
      </p>
      <p>These are the next steps:</p>
    <ul>
      <li>✅ Adding a small database</li>
      <li>✅ Building a very simple blogging engine</li>
      <li>Small WebRTC application to learn about WebRTC - perhaps Summer of 2020.</li>
    </ul>
  </main>
  {{>site_footer}}
</div>
</body>
</html>
