<!DOCTYPE html>
<html lang="en">
{{>html_header}}
<body>
<div class="content-area">
  {{>site_header}}
  <main>
  <article>
    <h1>{{title}}</h1>
    <h3><i class="xm_timestamp date_created">{{created}}</i></h3>
    {{{raw_post}}}
    </article>
  </main>
  {{>site_footer}}
</div>
  <link rel="stylesheet" type="text/css" href="/public/styles/solarized-dark.css">
  <script src="/public/libs/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
<script>
  const dateElements = document.getElementsByClassName('xm_timestamp');
  for (element of dateElements) {
    const val = parseInt(element.innerHTML, 10);
    if (!isNaN(val)) {
      const dateVal = new Date(val);
      // Quick way to display YYYY-MM-DD format.
      element.innerHTML = dateVal.toString();
    }
  }
</script>
</body>
</html>
