<!DOCTYPE html>
<html lang="en">
{{>html_header}}
<body>
<div class="content-area">
  {{>site_header}}
  <main>
    <h1>TODO post title</h1>
    <h3>TODO author, TODO date</h3>
    {{{raw_post}}}
  </main>
  {{>site_footer}}
</div>
</body>
</html>
