<footer>
  <div class="content">
    <p>
    <span class="copyleft" alt="(Copyleft)" title="Source code is available on demand. Contact me.">&copy;</span>
    Powered by <a href="https://www.gnu.org/philosophy/free-sw.html">Free Software</a>
    </p>
  </div>
</footer>
