<header>
  <div class="nav-container">
    <nav>
      <details class="nav-details">
        <summary class="burger-menu">
          <img src="/img/hamburger_icon.svg" alt="Toggle navigation menu">
        </summary>
      </details>
      <div class="left-menu">
        <a href="/">Home</a>
        <a href="/apps">Apps</a>
        <a href="/notes">Notes</a>
      </div>
      <a href="/" class="logo">
        <img src="/img/xmithd-logo-2/vector/default-monochrome-black.svg" width="100" alt="xmithd logo">
      </a>
      <div class="right-menu">
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </div>
    </nav>
    <div id="debug"></div>
  </div>
</header>
