<header>
  <div class="nav-container">
    <nav>
      <input type="checkbox" id="nav-toggle">
      <label for="nav-toggle" class="burger-menu">
        <img src="/icons/hamburger_icon.svg" alt="">
      </label>
      <div class="left-menu">
        <a href="/">Home</a>
        <a href="/apps">Apps</a>
        <a href="/blog">Blog</a>
      </div>
      <a href="/" class="logo">
        <img src="/icons/xmithd-logo-2/vector/default-monochrome-black.svg" width="100">
      </a>
      <div class="right-menu">
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </div>
    </nav>
  </div>
</header>
