<footer>
  <div class="content">
    <p>
    <span class="copyleft" alt="(Copyright)" title="Source code is available on my github page">&copy;</span>
    Powered by Free and Open Source Software.
    </p>
  </div>
</footer>
